<h1>New Calender</h1>

<%= render 'form' %>
<div class="row">
   <div class="col-lg-4 col-lg-offset-4">
       <div class="input-group">
          <%= link_to 'Back', calenders_path ,:class=>"btn btn-warning btn-md"%>
      </div>
  </div>
</div>
