<h3 style="margin-left:-100px">Calendar</h3>

<%= render 'form' %>
<div class="row">
   <div class="col-lg-4 col-lg-offset-4">
       <div class="input-group">
        <%= link_to 'Back', calenders_path %>
      </div>
  </div>
</div>
