<h1>New Skillset</h1>

<%= render 'form' %>
<div class="row">
   <div class="col-lg-4 col-lg-offset-4">
       <div class="input-group">
      <%= link_to 'Back', skillsets_path %>
  </div>
</div>
</div>    
