<div class="jumbotron">
<h3 style="margin-left:-100px">Skillset</h3>

<%= render 'form' %>
<div class="row">
   <div class="col-lg-4 col-lg-offset-4">
       <div class="input-group">
      <%= link_to 'Back', skillsets_path,:class=>"btn btn-warning btn-md" %>
  </div>
</div>
</div>
</div>
