!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi #{@user.candidateemail}
    %h1
      Hi #{@user.intervieweremail}
    %p
      Sample mail sent using smtp.
