<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.candidateemail %></h1>
    <h1>Hi <%= @user.intervieweremail %></h1>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>
