<div class='jumbotron'>
<h3 style="margin-left:-100px">Interviewer</h3>

<%= render 'form' %>
<div class="row">
   <div class="col-lg-4 col-lg-offset-4">
       <div class="input-group">
      <%= link_to 'Back', interviewers_path,:class=>"btn btn-warning btn-md",:style=>"width:250px"%>
  </div>
</div>
</div>
</div>
