.jumbotron
  %h3 Update Candidateprofile
  = render 'form1'
/
  <haml_loud> link_to &#39;Show&#39;, @candidateprofile </haml_loud> |
  <haml_loud> link_to &#39;Back&#39;, candidateprofiles_path </haml_loud>
