/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
  */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';
 body
  {

      background-position: center center;
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-size: cover;
      background-color: #EEE;
  }

  h1, h2, h3, h4, h5, h6
   {
        text-align: center;
        font-family: molot;
        font-weight: bolder;
        text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
        position: relative;
   }
   select
  {
    width:250px;
    height: 35px;
    -webkit-appearance: button;
     -moz-appearance: button;
     -webkit-user-select: none;
     -moz-user-select: none;
     -webkit-padding-end: 20px;
     -moz-padding-end: 20px;
     -webkit-padding-start: 2px;
     -moz-padding-start: 2px;
  /* fallback color if gradients are not supported */
     background-position: center right;
     background-repeat: no-repeat;
     border: 1px solid #AAA;
     border-radius: 2px;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
     color: #555;
     font-size: inherit;
     margin: 0;
     overflow: hidden;
     padding-top: 2px;
     padding-bottom: 2px;
     text-overflow: ellipsis;
     white-space: nowrap;
     background-color: white;
  }
#select option:first-child
  {
    color: red;
  }
  label
  {
   color: #717A8F;
  }
  input[type="text"] {
    width:250px;
  }
  #datetimepicker2
  {
      width:250px;
  }
  #datetimepicker3 {
    width: 250px;
}
 #textarea {
    width:250px;
  }
  input[type="number"] {
    width:250px;
  }
  #date
  {
    width:250px;
  }
  input[type="submit"] {
    width:250px;
  }
  #header {
    background-color: #3396D1;
}
.navbar-default .navbar-nav > li > a
{
  color:white;
  font-weight: bold;
  font-size: 16px;
}
.dropdown-menu li a
{
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 16px;
}


.navbar-default .navbar-brand {
    color: #fff;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}
.navbar-bran {
    padding: 15px;
    font-size: 25px;
    line-height: 20px;
    height: 50px;
    position:relative;
    top:18px
}
.jumbotron
{
  background-color:white !important;
  margin-top: 30px;
}
.navbar-header a:focus {
    background-color: skyblue;
}
@media screen and (max-width:500px)
{
  .navbar-bran {
      padding: 5px;
      font-size: 15px;
      font-weight: bold;
      line-height: 20px;
      position:relative;
      top:18px;
  }
  #logo
  {
    width:40px;
    height:40px;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 10px;
    padding: 9px 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: white;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.dropdown-menu li a
{
  color:white;font-weight: bold;font-size: 16px;
}
}
#logo
{
  width:80px;
  height:80px;
}
// .dropdown-menu > li > a {
//     display: block;
//     padding: 3px 20px;
//     clear: both;
//     font-weight: b;
//     line-height: 1.42857;
//     color: #333;
//     white-space: nowrap;
//   }
  .content-box-container {
   max-width: 480px;
   margin: 0px auto;
   }
.content-box {
    padding: 40px 30px 30px;
    font-size: 16px;
    background-color: #FFF;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  }
 // Submit button for All form
   #submit
   {
     margin-left: -40px;
   }
  @media screen and (max-width:500px)
  {
    #submit
    {
      margin-left: 10px;
    }
    .input-sm
    {
      width:150px;
    }
  }
