// Place all the styles related to the Interviewerfeedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select
{
  width:300px;
}
#selectoc
{
  width:300px;
  height:140px;
}
#header3
{
 margin-top:-10px
}
@media screen and (max-width:500px)
{
  select
  {
    width:250px;
  }
  #selectoc
  {
    width:250px;
    height:120px;
  }
}
